<div class="hud-container">
    <robotcarui-head-position-widget></robotcarui-head-position-widget>
    <robotcarui-throttle-widget></robotcarui-throttle-widget>
    <robotcarui-direction-widget></robotcarui-direction-widget>

    <div class="left-hud">
        <robotcarui-battery-indicator></robotcarui-battery-indicator>
        <robotcarui-wifi-signal></robotcarui-wifi-signal>
    </div>
    <div class="center-hud">
        <div>Distance : {{ robotState.radarDistance }} cm</div>
        <div>Volt : {{ robotState.batteryVoltage.toPrecision(3) }} V</div>
    </div>
</div>