:host {
    display: flex;
    align-items: center;
    gap: 8px;
    color: #fff;
    font-weight: bold;
    text-shadow: rgb(51, 51, 51) 1px 0px 0px, rgb(51, 51, 51) 0.540302px 0.841471px 0px, rgb(51, 51, 51) -0.416147px 0.909297px 0px, rgb(51, 51, 51) -0.989992px 0.14112px 0px, rgb(51, 51, 51) -0.653644px -0.756802px 0px, rgb(51, 51, 51) 0.283662px -0.958924px 0px, rgb(51, 51, 51) 0.96017px -0.279415px 0px;
}

.battery-container {
    display: flex;
    align-items: center;
}

.battery-body {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 46px;
    border-radius: 4px;
    padding: 4px 0px;
    position: relative;
}

.battery-stud {
    height: 10px;
    border-left: 5px solid #fff2;
    border-radius: 0 2px 2px 0;
}

.battery-level {
    width: 100%;
    height: 100%;
    border-radius: 4px;

    position: absolute;
    background: #fff2;
}

.battery-percent {
    z-index: 2;
}

.battery-percent::after {
    content: '%'
}

.low .battery-body,
.low .battery-stud,
.warning {
    animation: pulse 1.5s infinite;
}

.warning {
    padding: 4px;
    border-radius: 4px;
}

@keyframes pulse {
    0% {
        background: #fff2;
    }

    30% {
        background: #f00c;
    }

    50% {
        background: #f00c;
    }

    100% {
        background: #fff2;
    }
}