<div class="info-panel-container" [@openClose]="opened ? 'opened' : 'closed'">
  <div class="info-list">
    @for (info of hudInfoService.hudInfoList$ | async; track $index) {
      <div class="info-item" [class.active]="isActive($index)">
        <label>{{ info.label }}</label>
        <span class="value">{{ info.value }} {{ info.unit }}</span>
        <span
          class="toggle"
          [class.toggled]="info.hudVisible"
          (click)="toggleHudVisibilityOfCurrentInfo()"
        ></span>
      </div>
    }
  </div>
</div>
