:host {
  width: 100%;
  height: 100%;
  background: #111;

  --photo-border-width: 10px;
}

robotcarui-main-hud {
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 5;
}

.stream {
  width: 100%;
  height: 100%;
  display: block;
  object-fit: contain;
  position: fixed;
}

.cover {
  object-fit: cover;
}

.photo-container {
  width: 100%;
  height: 100%;

  transform: translateX(0) translateY(-100%);
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 50;

  & > img {
    box-sizing: border-box;
    border: var(--photo-border-width) solid #fff;
    max-width: 100%;
    max-height: 100%;
    min-height: 80%;
    border-radius: 4px;
  }
}
