<div class="photo-panel-container" [@openClose]="opened ? 'opened' : 'closed'">
  <div class="photo-list">
    @if (photoList.length === 0) {
      <div class="no-photo">No photo</div>
    }
    @for (photo of photoList; track $index) {
      <div
        class="photo-item"
        [@slide]="getPhotoState($index)"
        [ngStyle]="{ 'z-index': getZIndex($index) }"
      >
        <label>
          <div class="date">{{ photo.date.toLocaleString() }}</div>
          <div class="total">{{ $index + 1 + "/" + photoList.length }}</div>
        </label>
        <img src="{{ photo.src }}" />
      </div>
    }
  </div>
</div>
