<div class="car-setting-container" [@openClose]="opened ? 'opened' : 'closed'">
  <div class="control-list">
    @for (carSetting of carSettingList; track $index) {
      @if (isSettingSlider(carSetting)) {
        <div class="control" [class.active]="isActive($index)">
          <header>
            <label>{{ carSetting.label }}</label>
            <span class="value">{{ carSetting.value }}</span>
          </header>
          <input
            type="range"
            min="{{ carSetting.min }}"
            max="{{ carSetting.max }}"
            step="{{ carSetting.increment }}"
            class="slider"
            [ngModel]="carSetting.value"
            (ngModelChange)="changeCarSetting($event)"
          />
        </div>
      } @else {
        <div
          class="control"
          [class.active]="isActive($index)"
          [class.toggle-control]="!isSettingSlider(carSetting)"
        >
          <label>{{ carSetting.label }}</label>
          <span class="toggle" [class.toggled]="carSetting.value === 1"></span>
        </div>
      }
    }
  </div>
</div>
