<robotcarui-connection-panel
    *ngIf="!(robotCommunicationService.connectionStatusChange$ | async)"></robotcarui-connection-panel>

<ng-container *ngIf="robotCommunicationService.connectionStatusChange$ | async">
    <robotcarui-stream-window></robotcarui-stream-window>

    <robotcarui-control-help-panel></robotcarui-control-help-panel>

    <robotcarui-info-panel></robotcarui-info-panel>

    <robotcarui-photo-panel></robotcarui-photo-panel>

    <robotcarui-camera-control-panel></robotcarui-camera-control-panel>

    <robotcarui-car-setting-panel></robotcarui-car-setting-panel>
</ng-container>