:host {
    width: 100%;
    position: relative;
}

robotcarui-stream-window {
    position: absolute;
}

robotcarui-direction-widget {
    position: absolute;
    background-color: #fff;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 100;
}