.control-panel-container {
    width: 100%;
    height: 100%;
    position: absolute;
    overflow-y: scroll;
}

.list-container {
    background-color: #fffc;
    margin: 5vw;
    padding: 10px;
    border-radius: 8px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    backdrop-filter: blur(4px);
}

.common-control-list,
.control-list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    gap: 10px;
}

.common-control-list>.control-item>div {
    background: var(--primary-color);
    color: #fff;
}

.control-item {
    display: flex;
    align-items: center;
    padding: 10px;
    border-radius: 4px;
    gap: 10px;

    div {
        padding: 8px;
        border-radius: 8px;
        background: #eee;
    }

    label {
        font-size: 0.9rem;
    }
}