<div class="control-panel-container" [@openClose]="opened ? 'opened':'closed'">
    <div class="list-container">
        <div class="common-control-list">
            <div class="control-item" *ngFor="let control of commonControlList">
                <div>{{ control.button }}</div>
                <label>{{ control.label}}</label>
            </div>
        </div>
        <div class="control-list">
            <div class="control-item" *ngFor="let control of controlList">
                <div>{{ control.button }}</div>
                <label>{{ control.label}}</label>
            </div>
        </div>
    </div>
</div>