/* You can add global styles to this file, and also import other style files */
html,
body {
    --primary-color: #0d6efd;
    --primary-transparent-color: #0d6efd99;

    font-family: 'Roboto', 'Arial';
    width: 100%;
    height: 100%;
    margin: 0;
}