/* You can add global styles to this file, and also import other style files */
html,
body {
    --primary-color: #FCA311;
    --accent-color: #177E89;
    --tertiary-color: #fa2f2f99;
    --primary-transparent-color: #FCA31199;


    --slate-50: #f8fafc;
    --slate-100: #f1f5f9;
    --slate-200: #e2e8f0;
    --slate-300: #cbd5e1;
    --slate-400: #94a3b8;
    --slate-500: #64748b;
    --slate-600: #475569;
    --slate-700: #334155;
    --slate-800: #1e293b;
    --slate-900: #0f172a;
    --slate-950: #020617;

    font-family: 'Roboto', 'Arial';
    width: 100%;
    height: 100%;
    margin: 0;
}